.card-container{

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap:4px;
    width:500px;
    max-width: 100vw;
    padding: 10px;
    position: relative;
    &-userImg{
        position: absolute;
        top:13%;
        left:-2%;
        width: 41px;
    height: 41px;


        
       img{ 
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
    
    }

    }
&-form{
    right:-12px;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    margin:10px 0 10px 0;
    text-decoration: none;
    outline:none;
    border: 1.5px solid #cdcaca;
    // max-width: 80%;
    width: 90%;
    height: auto;
    position: relative;
    top:0;
  
    cursor: pointer;
    &-contenteditable{
        outline: none;
        cursor: pointer;
        word-wrap: break-word;
        -ms-word-break: break-all;
        color:#141415;
        letter-spacing: 1px;
        font-size: 1.13rem;
        
    }
}
}
.comments_card{
    display: flex;
    padding: 10px 0 10px 0;
    
  
    &-container{
        // display: flex;
        // align-items: center;
      
      
        
        &-userImg{
        
            max-width:100px;
            max-height: 100px;
            padding-left:10px;
            padding-top: 10px;
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50px;
               
            }
        }
        &-response{
            margin-left: 5px;
            margin-right: 5px;
            background-color:  #e8eaed;
            border-radius: 10px;
            padding: 10px 5px 20px 5px;
            
            p{
                word-wrap: break-word;
                color: #141415;
                line-height: 1.4;
            }
            &-usersInformation{
              
               
                
                &-span1{
                    color:rgba(0, 0, 0, .9);
                    font-weight:bold;
                    font-size: 15px;
                    }
            }
        }
    }
  
}



// media query for 767px and 320px
@media (max-width:767px) and (min-width: 320px) {
    .card-container{
    width:100%;
    gap: 0;
    grid-gap:0;
        &-form{
       &-contenteditable{
        font-size: 24px;
    
       }
     
        }
        &-userImg {
            
            left:-2%;
        }
    }
}

// media query for 1200px
@media (min-width: 768px) and (max-width: 991px) {
    .card-container{
    

   
        &-form{
       &-contenteditable{
        font-size: 1.13rem;
       }
        }
    }
}
  
// media query for 1200px
@media (min-width: 991px) and (max-width: 1200px) {
    .card-container{
        max-width: 100%;
   
        &-form{
       &-contenteditable{
        font-size: 1.13rem;
       }
        }
    }
}
  
  