
.Backdrop{
// background-color: rgba(240, 237, 237, 0.8);
min-width:100%;
min-height: 100%;
z-index: 200;
position:fixed;
width: 100%;
left:8px;
top:-128px;
right: 0;
bottom: 10px;
background-color: rgba(0,0,0,0.5);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden!important;
overflow-y: hidden!important;
overflow-x: hidden!important;
cursor: pointer;

}