.review__box{
    color:#ffffff;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 30px;
    margin: 20px 5px 5px 0;
    transform: translate3d(0,100px,0);
    position: relative;
    top:0;
    bottom: 0;
    left:0;
    right:0;
   &-left{
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 9px;
 flex-direction: column;
 &-information{
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 21px;
    max-width: 100%;
    &-title{
        padding: 0 10px 3px;
        line-height: 1.2;
    
     &-span1{ 
      
        font-size: 20px;
        font-weight: 600;
        margin-right: 0;
    
        
    }
    &-span2{ 
        
        font-size: 15px;
        font-weight: 200;
    }
    }
    p{
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1em;
    width: 100%;
    padding-left:12px;


    }
   }


   }
   &-comments-container{
    padding: 20px;
    width: 80%;
    margin: 0 auto 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 15px 5px;
    max-width: 100%;
    min-height: 400px;
height:auto !important;
 

    &-house{
        display: flex;
    }
    &-userProfile{
        margin-right: 0.5rem;
        img{
            border-radius: 50px;
        }
    }
   &-input{
     background-color:whitesmoke;
    width: 400px;
    // height: auto;
    min-height: 20px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: start;
    padding: 20px;
    margin-left: 10p
     p{
        padding: 10px;
       font-size: 1.5em;
       line-height: 1.3;
       margin-top: 1em;
       width: 100%;
}
   }
   &-replaycard {
    margin-top: 1em;
    /* max-width: 80%; */
    width: 100%;
}
}
&-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 300px;
    transform: translate3d(-100px,0px,0px);
    &-container{
      
       
        max-width: 100%;
        height:300px;
        &-casts-image{
            width: 100%;
            max-width:100% ;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

}











// Mobile phones
@media screen and (max-width:767px) and (min-width: 320px) {

    .review__box {
        // display: grid;
        // grid-template-columns: 1fr;
        margin: 20px 5px 5px 0;
        height: auto;
        max-width: 100%;
        margin: 20px 5px 5px 0;
    height: auto;
    grid-template-columns: 1fr ;
        &-left{
       margin-top: 20px;
       padding-bottom: 20px;
       margin-bottom: 10px;
       display: flex;
    flex-direction: column;
    position: static!important;

       &-image img{
        width: 100%;
        
       }
       &-information{
        margin-top: 10px;
        color: #ffffff;
        font-size: 18px;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 21px;
        padding: 1em;
        max-width: 100%;
        &-title{
            padding: 10px;
            margin-bottom: 52px;
         &-span1{ 
            font-size: 60px;
            font-weight: 600;
            margin-right: 0;
            padding: 10px 0 10px ;
            
        }
        &-span2{ 
            
            font-size: 45px;
            font-weight: 200;
        }
        }
        p{
        font-size: 1.8em;
        line-height: 1.2;
        margin-top: 1em;
        width: 100%;
        padding-left:12px;


        }
       }
        }
        &-comments-container{
           
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 15px 15px 5px;
            max-width: 100%;
            &-userProfile{
                margin-right: 0.5rem;
                img{
                    border-radius: 50px;
                }
            }
           &-input{
             background-color: black;
             p{
                padding: 10px;
               font-size: 1.8em;
               line-height: 1.3;
               margin-top: 1em;
               width: 100%;
}
           }
           &-replaycard {
            margin-top: 1em;
            /* max-width: 80%; */
            width: 100%;
        }
        }

        &-right{
     
            width: 100%;
            max-width: 100%;
            &-container{
                width: 100%;
                max-width: 100%;
                margin: 20px 0 20px;
                &-casts-image{
                    width: 100%;
                    max-width:100% ;
                }
            }
        }
        
    }







    
    // .left {
    //     background-color: red;
    //     position: static;
    //     z-index: auto;
    //     max-width: 500px;
    // }
    // .left__image{
    //     width: 80%;
    //     margin: 0 auto;
    // }
    // .review_box{
        
    //     grid-template-columns:  1fr 1fr ;

    //     &__comments{
    //         min-width: 500px;
           
    //     }
    //     &__userInfo{
           
    //         max-width: 450px;
    //     }
    //     &__information{
    //         p{
    //             font-size: 2.5rem;
    //             line-height: 1.4;
    //         }
    //     }
    // }
    // .right{
    //     position: static;
    //     z-index: auto;
    // }
}


/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 991px) {
    .review__box {
        display: grid;
        height: auto;
        max-width: 100%;
        margin: 20px 5px 5px 0;
    height: auto;
    grid-template-columns: 1fr;
        &-left{
       margin-top: 20px;
       padding-bottom: 20px;
       margin-bottom: 10px;
       display: flex;
    flex-direction: column;
    position: static!important;

       &-image img{
        width: 100%;
        
       }
       &-information{
        margin-top: 10px;
        color: #ffffff;
        font-size: 18px;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 21px;
        padding: 1em;
        max-width: 100%;
        &-title{
            padding: 10px;
            margin-bottom: 52px;
         &-span1{ 
            border: 1px solid rgb(232, 224, 224);
            font-size: 60px;
            font-weight: 600;
            margin-right: 0;
            padding: 10px 0 10px ;
            
        }
        &-span2{ 
            
            font-size: 45px;
            font-weight: 200;
        }
        }
        p{
        font-size: 1.8em;
        line-height: 1.2;
        margin-top: 1em;
        width: 100%;
        padding-left:12px;


        }
       }
        }
        &-comments-container{
           
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 15px 15px 5px;
            max-width: 100%;
            &-userProfile{
                margin-right: 0.5rem;
                img{
                    border-radius: 50px;
                }
            }
           &-input{
             background-color: black;
             p{
                padding: 10px;
               font-size: 1.8em;
               line-height: 1.3;
               margin-top: 1em;
               width: 100%;
}
           }
           &-replaycard {
            margin-top: 1em;
            /* max-width: 80%; */
            width: 100%;
        }
        }

        &-right{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            width: 100%;
            max-width: 100%;
            &-container{
                width: 100%;
                max-width: 100%;
                margin: 20px 0 20px;
                &-casts-image{
                    width: 100%;
                    max-width:100% ;
                }
            }
        }
        
    }

    
  }
  
  