
@use "createuser";
@use "../component/Ul/Header/header";
@use "../component/Ul/SideNav/side-nav";
@use "../component/Ul/FeaturedMedia/Featured.scss";
@use "../component/Ul/CastInfo/CastInfo";
@use "../component/Ul/Account/Account";
@use "../component//Ul/searchModal/searchModal";
@use "../component/Ul/login/_login";
@use "../component/Ul/MediaRow/MediaRow";
@use "../component/Ul/GenreNav/GenreNav";
@use "../component/Ul/Review/review";




html,body{
    background:black
    
}
*{
    box-sizing:border-box ;
}
.hide_class{
    display: none;
}