

@use 'reset';
@use "_createuser" ;
@use "_create" ; 
@use "../component/Ul/Header/_header" as * ;
@use "../component/Ul/SideNav/_side-nav" as *  ;
@use "../component/Ul/FeaturedMedia/Featured" as *;
@use "../component/Ul/CastInfo/_CastInfo" as * ;
@use "../component/Ul/Account/_Account" as *;
@use "../component/Ul/searchModal/_searchModal" as *;
@use "../component/Ul/login/_login" as * ;
@use "../component/Ul/MediaRow/_MediaRow" as * ;
@use "../component/Ul/PlaceHolder/_MediaRow" as * ;
@use "../component/Ul/GenreNav/_GenreNav" as *;
@use "../component/Ul/Review/_review"  as *;
@use "../component/Ul/PostInputModal/PostInputModal.scss" as *;
@use "../component//Ul/Backdrop/Backdrop.scss"as *;
@use "../component/Ul/ReviewReplyCard/ReviewReplyCard.scss" as*;
@use "../component/Ul/ReviewReplyCard/comment.scss" as *;

html,body{
    background:black;
   
    height: 100%;
    min-height: 100%;
}
*{
    box-sizing:border-box ;
}
.hide_class{
    display: none;
}