
// @use 'reset';
// @use "_createuser";
// @use "_create";
@use "../component/Ul/Header/_header.scss"  as *;
@use "../component/Ul/SideNav/_side-nav.scss" as * ;
@use "../component/Ul/FeaturedMedia/_Featured.scss" as *;
// @use "../component/Ul/CastInfo/_CastInfo.scss" ;
// @use "../component/Ul/Account/_Account.scss";
// @use "../component//Ul/searchModal/_searchModal.scss";
// @use "../component/Ul/login/_login.scss" ;
// @use "../component/Ul/MediaRow/_MediaRow.scss" ;
// // @use "../component/Ul/PlaceHolder/_MediaRow" ;
// @use "../component/Ul/GenreNav/_GenreNav.scss";
// @use "../component/Ul/Review/_review.scss" ;



html,body{
    background:black
    
}
*{
    box-sizing:border-box ;
}
.hide_class{
    display: none;
}